name: user-statistician

on:
  schedule:
    - cron: "0 3 * * *"
  push:
    branches: [main, master]
    paths: [".github/workflows/userstats.yaml"]
  workflow_dispatch:

jobs:
  stats:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Generate the user stats image
        uses: cicirello/user-statistician@v1
        with:
          colors: dark-dimmed
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
